@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.socialLinks {
  display: flex;
  gap: 15px; /* Adjust spacing between icons as needed */
  margin-top: 5px;
}

.socialLink img {
  width: 30px; /* Fixed size for icons */
  height: 30px; /* Fixed size for icons */
  transition: transform 0.3s, filter 0.3s; /* Smooth transition for hover effects */
}

/* Hover effect for social link images */
.socialLink:hover img {
  transform: scale(1.4); /* Slightly increase size */
}

/* Optional: Add a border on hover */
.socialLink:hover {
  border-radius: 50%;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-inter);
  background: linear-gradient(
      90deg,
      rgb(5, 5, 5) 70%,
      rgb(120, 192, 122) 120%
    );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 20px;
  font-family: var(--font-inter);
  margin-bottom: 20px;
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 40vw;
  height: 30vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: #F7E6C4;
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: #F7E6C4;
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-inter);
    background: linear-gradient(
      90deg,
      rgb(5, 5, 5) 70%,
      rgb(120, 192, 122) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }

  .socialLinks {
    justify-content: center;
    margin-top: 10px;
  }

  .description {
    font-size: 15px;
    font-family: var(--font-inter);
    margin-bottom: 20px;
  }

  .topBlur {
    width: 70vw;
    height: 70vw;
    min-width: 200px;
    top: -50px;
    left: -10vw;
    filter: blur(50px);
  }

  .bottomBlur {
    width: 80vw;
    height: 70vw;
    min-width: 200px;
    top: 300px;
    right: -30vw;
    filter: blur(50px);
  }
}
