/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  color: var(--color-text);
  margin: 79px 10%;
  transition: border 0.3s;
}

.title {
  color: var(--color-text);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 30px;
}se

.content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.history {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: 100%;
  background: var(--color-background); 
  transition: border 0.3s; 
}

.historyItem {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background: rgba(156, 169, 134, 0.5);
  border-radius: 10px;
  padding: 24px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px; 
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; 
}


.container:hover .history {
  border: 2px solid var(--color-accent);
}

.historyItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  filter: brightness(1.2);
}

.historyItem img {
  display: block; 
  margin: 0 auto; 
  width: 50px; 
  height: auto; 
}

.historyItemDetails {
  font-family: var(--font-inter);
  text-align: center; 
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 10px 0;
  font-family: 'Arial', sans-serif;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 0; 
}

.historyItemDetails ul {
  text-align: left; 
  margin: 0; 
  padding-left: 20px; 
  list-style-position: outside; 
  font-size: 16px; 
}

.historyItemDetails li {
  margin-bottom: 8px;
  padding-left: 0; 
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 60px;
  margin-top: 30px; 
}


.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  min-width: 120px; 
}


.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 22px;
  font-family: var(--font-inter);
  font-weight: 500;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .history {
    flex-direction: column; /* Stack history items vertically */
    gap: 15px; 
    margin-top: 20px; 
  }

  .historyItem {
    width: 100%; 
    max-width: 100%;
    padding: 16px; 
    box-sizing: border-box; 
  }

  .historyItem img {
    width: 40px; 
  }

  .historyItemDetails h3 {
    font-size: 18px; 
  }

  .historyItemDetails p {
    font-size: 14px; 
  }

  .historyItemDetails ul {
    padding-left: 15px;
    font-size: 12px;
  }

  .historyItemDetails li {
    font-size: 12px; 
  }

  .title {
    font-size: 20px; 
  }

  .skill {
    min-width: 100px; 
  }

  .skill p {
    font-size: 20px; 
  }

  .skillImageContainer {
    width: 100px;
    height: 100px;
  }

  .skillImageContainer img {
    width: 60px;
  }
}
