:root {
    /* Colors */
    --color-text: #f9f5f5;
    --color-primary: #2B7A78;
    --color-secondary: #2B7A78;
    --color-dark: #17252A;
    --color-bg: #66A5AD;

    /* Fonts */
    --font-inter: "Inter";
}


